.container {
  padding: 0 2rem;
}

.container a {
  text-decoration: underline;
  color: #3333ff;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
}

.modalEnclosure {
  width: 640px;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 2px solid blue;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
}
